  Body {
    background-color: black;
  }


  h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
  }

  h2 {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
  }

  #media {
    text-align: center;
  }

  #picture {
    text-align: center;
  }

  #icon {
    text-align: center;
  }
